@use "../../styles/variables.module.scss" as var;

.boardBackground {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--background-color);

  @media (min-width: var.$desktop) {
    min-height: 100vh;
  }
}

.isAlignedTop {
  align-items: flex-start;
}
