.boardBackground {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--background-color);
}

.isAlignedTop {
  align-items: flex-start;
}
