.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  min-height: 7.2rem;
  padding: 1.2rem 2rem;
}

.isCenter {
  justify-content: start;
}

.hasIcon {
  justify-content: space-between;
  gap: 0.8rem;
}
