.circleButton{
  display: inline-block;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:is(:hover, :focus) {
    .circleButtonSVGShadow {
      fill: var(--hover-color);
    }
  }
}

.circleButtonSVG {
  display: block;
}
