@use '../../styles/variables.module.scss' as var;

.token {
  display: none;
  margin: 0;
  padding: 0;
  z-index: -1;
  flex: 0 0 calc(100% / 7);
  animation: show 500ms forwards ease-in-out;

  @media (min-width: var.$tablet) {
    display: block;
  }
}

.small {
  display: block;

  @media (min-width: var.$tablet) {
    display: none;
  }
}

@keyframes show {
  0% {
    transform: translate(0, -100vh);
  }

  100% {
    transform: translate(0, 0);
  }
}
